.header {
    font-size: 15px;
    color: #fff;
    font-weight: 500
}

.icon-content {
    font-size: 20px;
}

.search-input {
    min-width: 100%;
}

.app-header__cart {
    position: relative;
}

.count-product {
    top: 0;
    right: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 17px;
    width: 17px;
    position: absolute;
    background-color: #FDD835;
    border-radius: 50%;
    border: 1px solid #fff;
}

.icon-center {
    padding: 9px;
    color: #ccc;
    position: relative;
    top: 50%;
    left: -109%;
    transform: translateY(-50%);
}

.sidebar-item {
    position: relative;
}

    .sidebar-item:after {
        height: 100%;
        content: "";
        padding: 10px 8px;
        background-color: transparent;
        position: absolute;
        right: -13px;
    }

    .sidebar-item:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        color: #fff;
    }

        .sidebar-item:hover .megamenu {
            display: block;
        }

.megamenu {
    z-index: 1;
    display: none;
    position: absolute;
    left: 27%;
    background-color: #fff;
    height: 491px;
    width: calc(1320px - 210px);
}

    .megamenu.active {
        display: block;
        transition: display 1s linear;
    }

    .megamenu:hover {
        display: block;
    }

.img-container {
    height: 375px;
}

.slick-list {
    max-height: 100%;
}

.img-product {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.slick-next {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
}

.slick-arrow {
    outline: none;
    border: none;
}

.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    z-index: 1;
    background-color: transparent;
    color: white;
}

.container-name-laptop {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-config {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 3px;
    margin: 4px 0;  
    background-color: #ddd;
}

.container-laptop__gaming {
}

.container-laptop__heading {
    margin-bottom: 8px;
}

.container-config__item {
    font-size: 12px;
    padding: 2px 3px;
}

.laptop-gaming__item {
    font-size: 14px;
    padding: 2px 3px;
    border-radius: 6px;
    width: 232px;
    border: 1px solid #ccc;
}

.img_laptop-gaming {
    max-width: 100%;
    height: 230px;
    object-fit: cover;
}

.container-description {
    padding: 6px 16px;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.slick-slide {
    margin-right: 10px;
}

.heading-container {
    font-weight: bold;
    font-size: 24px;
}

    .heading-container:hover {
        color: var(--primary-color);
        cursor: pointer;
    }

.watch-all:hover {
    color: var(--primary-color);
}

.navbar-link {
    font-size: 16px;
    color: var(--link-color);
}

.container-content {
    border-radius: 5px;
    background-color: #fff;
}

.product-gallery {
    border-right: 1px solid #ececec;
    padding: 24px;
}

.product-info {
    padding: 24px;
}

.gift-info {
    border: 1px solid #ffd9d9;
    font-weight: 550;
    border-radius: 5px;
}

.heading-gift {
    padding: 12px 20px;
    background-color: #ffd9d9;
}

.gift-detail {
    padding: 12px 20px;
}

.name-product {
    font-weight: 500;
    font-size: 24px;
}

.slick-slide {
    cursor: pointer;
}

.hight-light {
    font-size: 12px;
    font-weight: 550;
    color: #fff;
    padding: 2px 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.detail-contet {
}

.detail-content:hover {
    color: var(--primary-color) !important;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    cursor: pointer;
    transition: color .2s ease;
}

.star-icon {
    color: #ffc83d;
}

.deal {
    font-size: 18px;
    color: #007bff;
}


.slick-center img {
    border: 1px solid var(--primary-color);
}

.list-warranty-item {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 550;
}

.support-heading {
    font-size: 18px;
    font-weight: 550;
}

.promotion-list {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.promotion-heading {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    font-size: 18px;
    padding: 10px 0;
    padding-left: 15px;
    font-weight: 450;
    background-color: #ccc;
}

.container-promotion-item {
}

.promotion-price {
    font-size: 14px;
}

.promotion-item {
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
}

.check-icon {
    margin-right: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: #fff;
    height: 17px;
    width: 17px;
    border-radius: 50%;
}

.container-info {
    margin-top: 24px;
}

.promotion-price {
    margin: 0 3px;
}

.container-heading {
    font-size: 24px;
    font-weight: 500;
}

.container-heading.description {
    padding: 24px;
}

.container-config-product {
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.container-config-detail {
    padding: 24px;
}

.container-config-detail span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 450;
}

.container-image-product {
    margin-right: 3px;
    width: 104px;
    height: 104px;
}

.container-image-product img {
    max-width: 100%;
    max-height: 100%;
}

.product-similar-name {
    font-size: 14px;
    font-weight: 450;   
}

.product-similar-price.price {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}